@import "./vars";

.td-item {
	display: block;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	transition: all 0.2s ease-in-out;
	&:hover {
		background: rgb(35, 35, 35);
	}
	&:active {
		box-shadow: 0px 0px 20px white;
	}
	.check {
		display: inline-block;
		vertical-align: top;
		width: 20px;
		height: 20px;
		overflow: hidden;
		background: rgb(20, 20, 20);
		pointer-events: none;
		.box {
			display: block;
			margin: 3px;
			width: 14px;
			height: 14px;
			background: rgb(140, 140, 140);
			pointer-events: none;
		}
		.box-unchecked {
			background: transparent;
		}
	}
	.text {
		display: inline-block;
		vertical-align: top;
		padding-left: 20px;
		position: relative;
		top: -2px;
		pointer-events: none;
		@media only screen and (max-width: $td-screen-sm) {
			top: 1px;
		}
	}
	.delete {
		float: right;
		cursor: pointer;
		color: rgb(255, 0, 55);
		font-size: 20pt;
		position: relative;
		top: -3px;
		transition: all 0.2s ease-in-out;
		&:hover {
			color: white;
		}
		&:active {
			box-shadow: 0px 0px 20px white;
		}
	}
}