$td-screen-xlg: 99999px;
$td-screen-lg: 1440px;
$td-screen-md: 900px;
$td-screen-sm: 768px;
$td-screen-xsm: 550px;

$td-board-width: 318px;
$td-board-height: 378px;
$td-board-box-size: 106px;

$td-color: rgb(40, 40, 40);